<!-- <a [routerLink]="['/home']">Home</a>
<a [routerLink]="['/register']">Register</a> -->
    <angular-image-slider [images]="imagesUrl" ></angular-image-slider>    
<h3 class= "text-center">FantacySatta</h3>
<ng4-loading-spinner > </ng4-loading-spinner>
<!-- [threshold]="2000" [template]="template" [loadingText]="'Please wait...'" [zIndex]="9999" -->
<div >
<div class = "col-md-6 text-center">
    <angular-image-slider [images]="imagesUrl" ></angular-image-slider>    
</div>
<div class = "col-md-6 text-center">
        <tabset>
          <tab heading="Login" id="tab1">
                   <form [formGroup]="loginForm" (ngSubmit)="checkLogin(loginForm.value)">
                      <h2>Login</h2>
                        <div class="form-group">
                        <label>Email
                          <input type="email" #emailobj appAutofocus formControlName="email">
                          <div class="alert" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">{{ emailAlert }}</div>
                        </label>
                        </div>
                        <div class="form-group">
                        <label>Password
                          <input type="password" formControlName="password">
                          <div class="alert"  *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">{{ passwordAlert }}</div>
                        </label>
                      </div>  
                        <div class="callout warning" *ngIf="loginError"> {{ loginAlert }}</div> 
                        <div class="alert alert-danger" *ngIf="loginFailed"> {{ loginFailedAlert }} {{loginFailedMessage}}</div>  
                        <div class="alert alert-success" *ngIf="loginSuccess"> {{ loginSuccessAlert }} </div> 
                      
                        <input type="submit" class="btn btn-default" value="Login" [disabled]="!loginForm.valid">
                  </form>
          </tab>
          <tab heading="Register">
              <div class="col-md-6 col-md-offset-3">                  
                  <form [formGroup]="registerForm" (ngSubmit)="checkRegister(registerForm.value)">
                        <h2>Register</h2>
                            <div class="form-group">
                                <label>Username
                                <input type="text" appAutofocus formControlName="username"></label>
                            </div>
                            <div class="form-group">
                                    <label>Name
                                    <input type="text"  formControlName="name"></label>
                                </div>
                        <div class="form-group">
                          <label>Email</label>

                              <input type="text" required formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >
                              <div [hidden]="registerForm.controls['email'].valid || registerForm.controls['email'].pristine"
                                 class="alert alert-danger">
                                 <div [hidden]="!registerForm.controls['email'].hasError('required')">Email is required</div>
                                 <div [hidden]="!registerForm.controls['email'].hasError('pattern')">Email format should be 
                                    <small><b>joe@abc.com</b></small>
                                 </div>
                              </div>

                            <!-- <input type="email"   formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <div [hidden]="registerForm.controls['email'].valid || registerForm.controls['email'].pristine" class="alert alert-danger"></div>
                            <div [hidden]="!registerForm.controls['email'].hasError('required')">Email is required</div>
                            <div [hidden]="!registerForm.controls['email'].hasError('pattern')">
                              Email format should be 
                            <small><b>joe@abc.com</b></small>
                              </div> -->
                            <!-- <div class="alert" *ngIf="!registerCheck.controls['registerEmail'].valid && registerCheck.controls['registerEmail'].touched"></div> -->
                          
                        </div>
                        <div class="form-group">
                                <label>Password
                                  <input type="password"   formControlName="password" minlength="8"  maxlength="25">
                                  <div [hidden]="!registerForm.controls['password'].hasError('minlength')" class="alert alert-danger">Password should be of minimum 8 characters</div>
                                  </label>
                        </div>
                        <div class="form-group">
                        <label>Mobile</label>
                                <!-- <input type="text"  (keypress)="onlyNumberKey($event)" maxlength="10"  formControlName="mobileNumber"> -->
                                <input type="text" required formControlName="mobileNumber" minlength="10" maxlength="10" pattern="[0-9]*">
                                <div [hidden]="registerForm.controls['mobileNumber'].valid || registerForm.controls['mobileNumber'].pristine"  class="alert alert-danger">
                                    <div [hidden]="!registerForm.controls['mobileNumber'].hasError('minlength')">Mobile should be 10 digit</div>
                                    <div [hidden]="!registerForm.controls['mobileNumber'].hasError('required')">Mobile is required</div>
                                    <div [hidden]="!registerForm.controls['mobileNumber'].hasError('pattern')">Mobile numberr should be only numbers</div>
                        
                            </div></div>
                            <div class="alert alert-danger" *ngIf="registerFailed"> {{ registerFailedAlert }} {{registerFailedMessage}}</div>  
                            <div class="alert alert-success" *ngIf="registerSuccess"> {{ registerSuccessAlert }} {{registerSuccessMessage}} </div> 
                         
                          <input type="submit" class="btn btn-default" value="Register" [disabled]="!registerForm.valid">
                    </form>
              </div> 

          </tab>
          
        </tabset>
</div>
</div>
<liveScores-root ></liveScores-root>

